@model MVCJasonPost.Models.PersonModel

@{
    ViewBag.Title = "Hołm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Hołm</h2>
<div>
    @Html.LabelFor(m => m.First)
    @Html.EditorFor(m => m.First)
</div>

<div>
    @Html.LabelFor(m => m.Last)
    @Html.EditorFor(m => m.Last)
</div>

<div>
    @Html.LabelFor(m => m.FavoriteBands)
    @Html.DropDownListFor(m => m.FavoriteBands, new SelectList(
    new List<Object>{
    new {value=0, text = "Jożin z Bażin"},
    new {value=1, text = "Megadeath"},
    new {value=2, text = "Fasolki"}
    },
    "value",
    "text",
    Model.FavoriteBands),
    new { multiple = "multiple" })
</div>

<div>
    <input type="button" value="Bad Submit" id="bad" />
    <input type="button" value="Good Submit" id="good" />

</div>

<label id="result"></label>